<div class="flex justify-between">
  <div><img src="./../../../assets/bellona.png"  class="border-b-2 border-black" alt="" /></div>

  <div class="flex">
    <div class="m-12">
      <h1 class="text-9xl font-bold text-orange-300">
        B<span class="text-6xl text-black">ENEFICIOS</span>
      </h1>
      <div class="flex items-center justify-end">
        <p class="text-3xl font-semibold">Buffos 24/7</p>
        <p class="text-7xl font-extrabold text-orange-300">#</p>
      </div>
      <div class="flex items-center">
        <p class="text-7xl font-extrabold text-orange-300">#</p>
        <p class="text-3xl font-semibold">Semanales Completas</p>
      </div>
      <div class="flex items-center justify-end">
        <p class="text-3xl font-semibold">Recompensas X5</p>
        <p class="text-7xl font-extrabold text-orange-300">#</p>
      </div>
      <div class="flex items-center">
        <p class="text-7xl font-extrabold text-orange-300">#</p>
        <p class="text-3xl font-semibold">Energia Diaria</p>
      </div>
    </div>
  </div>
</div>
