---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Personal",
    price: "Free",
    popular: false,
    features: [
      "Lifetime free",
      "Up to 3 users",
      "Unlimited Pages",
      "Astro Sub domain",
      "Basic Integrations",
      "Community Support",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Startup",
    price: {
      monthly: "$19",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "All Free Features",
      "Up to 20 users",
      "20 Custom domains",
      "Unlimited Collaborators",
      "Advanced Integrations",
      "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited Custom domains",
      "99.99% Uptime SLA",
      "SAML & SSO Integration",
      "Dedicated Account Manager",
      "24/7 Phone Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<style>
  /* Estilos para pantallas menores de 1400px */
  @media (max-width: 1399px) {
    .franja {
      /* Aplica las clases de Tailwind para pantallas menores de 1400px */
      @apply skew-y-[-3deg] py-16 top-[-35px];
    }
    .franja2 {
      /* Aplica las clases de Tailwind para pantallas mayores o iguales a 1400px */
      @apply skew-y-3 py-16 top-[-35px];
    }
  }

  /* Estilos para pantallas mayores o iguales a 1400px */
  @media (min-width: 1400px) {
    .franja {
      /* Aplica las clases de Tailwind para pantallas mayores o iguales a 1400px */
      @apply skew-y-[-2deg] py-28 top-[-70px];
    }
    .franja2 {
      /* Aplica las clases de Tailwind para pantallas mayores o iguales a 1400px */
      @apply skew-y-2 py-20 top-[-65px];
    }
    .servicios {
      margin-bottom: 3%;
    }
  }

  /* Estilo para pantallas grandes (ejemplo: escritorio) */
  .div-a-ocultar {
    display: block; /* O cualquier otro valor necesario para pantallas grandes */
  }

  /* Consulta de medios para pantallas pequeñas (ejemplo: celular) */
  @media (max-width: 880px) {
    .div-a-ocultar {
      display: none; /* Oculta el div en pantallas pequeñas */
    }
  }
  .separator {
    display: flex;
    justify-content: center; /* Centra horizontalmente los puntos */
    align-items: center; /* Centra verticalmente los puntos */
  }

  .dot {
    width: 5px; /* Ancho del punto */
    height: 5px; /* Altura del punto */
    border-radius: 50%; /* Forma redonda */
    background-color: transparent; /* Fondo transparente */
  }

  .red-dot {
    background-color: #de403f; /* Color rojo para los puntos */
    margin: 0 3px;
  }
</style>

<Layout title="Caracteristicas - Captar Media">
  <div class="bg-white">
    <h1 class="text-gray-600 font-bold text-5xl m-8 mt-24 text-center">
      ¿Cómo funciona Captar Media?
    </h1>
    <div class="m-6">
      <p
        class="text-lg text-black text-xl text-gray-600 text-center"
        style="line-height: 1.5;">
        Con Captar Media podés manejar totalmente a distancia un número<br class="hidden md:block"/>
        ilimitado de pantallas indoor u outdoor.
      </p>
    </div>
    <br />
    <br />
    <br />
    <div class="md:hidden text-center">
      <div class="separator text-xl font-thin">
        {/* La mitad de puntos en pantallas chicas */}
        {
          Array.from({ length: 35 }, () => (
            <div class="dot red-dot overflow-visible " />
          ))
        }
      </div>
    </div>
    <div class="hidden md:block lg:hidden text-center">
      <div class="separator text-xl font-thin">
        {/* La mitad de puntos en pantallas medianas */}
        {
          Array.from({ length: 70 }, () => (
            <div class="dot red-dot overflow-visible " />
          ))
        }
      </div>
    </div>
    <div class="hidden lg:block text-center">
      <div class="separator text-xl font-thin">
        {/* La mitad de puntos en pantallas grandes */}
        {
          Array.from({ length: 110 }, () => (
            <div class="dot red-dot overflow-visible " />
          ))
        }
      </div>
    </div>
    <br />

    <!--log servicios -->
    <div class="flex flex-col justify-center items-center">
      <div style="max-width: 1600px;">
        <div class="servicios text-center flex grid md:grid-cols-3">
          <div class="flex flex-col items-center md:col-span-1 m-5">
            <br />
            <img
              src="../../src/assets/captarmedia-caracteristicas2-300x288.png"
              alt="captar_media_logo6"
              class="h-48"
            />
            <h2 class="text-center text-red-500 font-bold text-2xl">
              ADMINISTRADOR
            </h2>
            <br />
            <p class="text-center font-medium text-gray-500 text-xl">
              Contamos con un administrador<br />
              online totalmente intuitivo que<br />
              te permitirá llevar un control<br />
              permanente de tus pantallas
            </p>
          </div>

          <div class="flex flex-col items-center md:col-span-1 m-5">
            <br />
            <img
              src="../../src/assets/captarmedia-caracteristicas3.png"
              alt="captar_media_logo6"
              class="h-48"
            />
            <h2 class="text-center text-red-500 font-bold text-2xl">NUBE</h2>
            <br />
            <p class="text-center font-medium text-gray-500 text-xl">
              Todos tus contenidos serán<br />
              resguardados en servidores<br />
              de Captar Media, pudiendo además<br />
              decidir realizar el backup en servidores<br />
              de tu empresa
            </p>
          </div>

          <div class="flex flex-col items-center md:col-span-1 m-5">
            <br />
            <img
              src="../../src/assets/captarmedia-caracteristicas4.png"
              alt="captar_media_logo6"
              class="h-48"
            />
            <h2 class="text-center text-red-500 font-bold text-2xl">
              DISPOSITIVO
            </h2>
            <br />
            <p class="text-center font-medium text-gray-500 text-xl">
              Configurá todas las pantallas que<br />
              quieras, armá grupos de pantallas<br />
              y segmentá por grupo de pantallas<br />
              y por horarios de transmisión
            </p>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <div class="div-a-ocultar">
      <div class="bg-gray-200 flex flex-col">
        <div
          class="franja2 md:mt-0 relative bg-gradient-to-b from-gray-200 to-gray-200">
        </div>
        <div class="relative servicios">
          <div class="text-center text-5xl absolute w-full z-10 top-[-95px]">
            <h2 class="m-5 text-gray-600 font-bold">Ejemplo de uso</h2>
          </div>
          <img
            src="../../src/assets/captarmedia-ejemplo-1024x627.png"
            alt="Botón con imagen"
            class="btn-img h-auto mx-auto"
          />
          <br />
          <br />
        </div>
      </div>
    </div>
    <div class="bg-white">
      <div class="relative">
        <div class="text-center text-4xl absolute w-full z-10">
          <h2 class="m-5 text-red-600 font-bold">
            Te invitamos a probar ya nuestro software
          </h2>
          <div class="button-container text-center">
            <button
              class="m-2 btn transform transition-transform hover:scale-110">
              <img
                src="../../src/assets/captarmedia-download-07-300x78.png"
                alt="Botón con imagen"
                class="btn-img"
              />
            </button>
          </div>
        </div>
        <div
          class="franja md:mt-0 relative bg-gradient-to-b from-white to-white transform">
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br /><br />
  </div>
</Layout>
