---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
// Función para verificar si el elemento es visible en la pantalla

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const scrollTrigger = document.getElementById("scroll-trigger");
    // Resto de tu código aquí

    function isElementInViewport(el) {
      const rect = el.getBoundingClientRect();
      return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <=
          (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <=
          (window.innerWidth || document.documentElement.clientWidth)
      );
    }

    // Función para aplicar la animación cuando el elemento es visible
    function handleScroll() {
      const scrollTrigger = document.getElementById("scroll-trigger");
      if (isElementInViewport(scrollTrigger)) {
        scrollTrigger?.classList.add("animate");
        window.removeEventListener("scroll", handleScroll);
      }
    }
    // Agregar un event listener para el evento scroll
    window.addEventListener("scroll", handleScroll);
  });

  function isElementInViewport(el) {
    const rect = el.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <=
        (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }

  // Función para aplicar la animación cuando el elemento es visible
  function handleScroll() {
    const scrollTrigger = document.getElementById("scroll-trigger");
    if (isElementInViewport(scrollTrigger)) {
      scrollTrigger?.classList.add("animate");
      window.removeEventListener("scroll", handleScroll);
    }
  }
  // Agregar un event listener para el evento scroll
  window.addEventListener("scroll", handleScroll);
</script>

<style>
  @media (max-width: 1399px) {
    .franja {
      /* Aplica las clases de Tailwind para pantallas menores de 1400px */
      @apply skew-y-[-3deg] py-16 top-[-35px];
    }
  }

  /* Estilos para pantallas mayores o iguales a 1400px */
  @media (min-width: 1400px) {
    .franja {
      /* Aplica las clases de Tailwind para pantallas mayores o iguales a 1400px */
      @apply skew-y-[-2deg] py-20 top-[-70px];
    }
  }

  @media screen and (min-width: 2200px) {
    .regulador {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .titulo {
      margin-left: -12rem;
    }
    .subTitulo {
      margin-left: 26rem;
    }
    .boton {
      margin-left: -24rem;
    }
  }
  .move-in-btn {
    animation: moveIn 1s forwards;
    transform: translateX(-200%);
    /* Ajusta el valor de translateX según tus necesidades */
  }

  @keyframes moveIn {
    to {
      transform: translateX(0);
    }
  }
</style>
<Layout title="Gestion de turnos - Captar Media">
  <main
    style="background-image: url('../../src/assets/captar-media-gestion-turnos-09.jpg'); background-size: cover; background-position: center; background-attachment: fixed;">
    <div class="pt-12 md:pt-32 bg-black bg-opacity-50">
      <!--<style>
      .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
  
      .btn {
        position: relative;
        overflow: hidden;
      }
  
      .btn-img {
        max-width: 100%;
        height: auto;
        display: block;
        transition: transform 0.3s ease-in-out;
      }
  
      .btn:hover .btn-img {
        transform: scale(1.2);
        animation: pulse 3s alternate;
      }
  
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.2);
        }
      }
    </style>-->
      <!--presentacion incial-->
      <div style="width: 90%;">
        <div class="regulador">
          <div class="titulo">
            <h1
              class="text-3xl lg:text-6xl mt-16 ml-16 font-bold lg:tracking-tight xl:tracking-tighter text-white"
              style="transform: skewX(-13deg);">
              GESTIÓN DE TURNOS
            </h1>
          </div>
          <div class="subTitulo">
            <p class="text-xl lg:text-3xl m-8 text-white ml-16 font-normal">
              <strong>
                Con Captar Media, puede administrar la atención de sus clientes
                de manera simple</strong
              >
            </p>
          </div>
          <div class="ml-16 button-container" id="scroll-trigger">
            <button
              class="btn transform transition-transform hover:scale-110 boton">
              <img
                src="../../src/assets/captarmedia-download-07-300x78.png"
                alt="Botón con imagen"
                class="btn-img"
              />
            </button>
          </div>
        </div>
      </div>
      <br /><br /><br /><br /><br />

      <!--componentes de gestion de turnos-->

      <div class="bg-white flex flex-col">
        <div
          class="franja md:mt-0 relative bg-gradient-to-b from-white to-white">
        </div>
        <div class="flex flex-col">
          <div
            class="text-center text-2xl md:text-4xl relative w-full z-10 top-[-45px]">
            <h2 class="m-5 text-gray-600 font-bold">
              Componentes de nuestro sistema de gestión de turnos
            </h2>
          </div>

          <div class="flex flex-col justify-center items-center">
            <div style="max-width: 1600px;">
              <div class="justify-center items-center grid md:grid-cols-2">
                <div class="md:col-span-1 mx-auto">
                  <img
                    src="../../src/assets/captarmedia-turnos-08.jpg"
                    alt="captar_media_logo6"
                    class="h-56 md:h-72"
                    id="scroll-trigger"
                  />
                </div>
                <div class="md:col-span-1 m-6">
                  <h2
                    class="text-red-600 font-bold text-xl md:text-2xl mx-8 md:mx-0">
                    Esperar no tiene porque ser aburrido
                  </h2>
                  <br />

                  <p
                    class="text-gray-500 text-medium md:text-xl font-thin mx-8 md:mx-0"
                    style="line-height: 2;">
                    Con nuestro software, además de informar a sus clientes la
                    evolución de los turnos, puede entretenerlos con contenido
                    multimedia en alta definición y noticias en tiempo real.
                  </p>
                </div>
                <br />
              </div>

              <div class="justify-center items-center grid md:grid-cols-2">
                <div class="md:col-span-1 mx-auto md:order-2">
                  <img
                    src="../../src/assets/captarmedia-turnos-09.jpg"
                    alt="captar_media_logo6"
                    class="h-56 md:h-72"
                    id="scroll-trigger"
                  />
                </div>
                <div class="md:col-span-1 m-6 md:m-12 lg:m-20 md:order-1">
                  <br />
                  <h2
                    class="text-red-600 font-bold text-xl md:text-2xl mx-8 md:mx-0">
                    Estación de atención
                  </h2>
                  <br />
                  <p
                    class="text-gray-500 text-medium md:text-xl font-thin mx-8 md:mx-0"
                    style="line-height: 2;">
                    Visualice y organice de forma clara e interactiva la
                    atención de sus clientes con el sistema de gestión de turnos
                    de Captar Media.
                  </p>
                  <br />
                </div>
              </div>

              <div class="justify-center items-center grid md:grid-cols-2">
                <div class="md:col-span-1 mx-auto">
                  <img
                    src="../../src/assets/captarmedia-turnos-10.jpg"
                    alt="captar_media_logo6"
                    class="h-56 md:h-72 btn-img"
                    id="scroll-trigger"
                  />
                </div>
                <div class="md:col-span-1 m-6">
                  <br />
                  <h2
                    class="text-red-600 font-bold text-xl md:text-2xl mx-8 md:mx-0">
                    Generador de turnos
                  </h2>
                  <br />
                  <p
                    class="text-gray-500 text-medium md:text-xl font-thin mx-8 md:mx-0"
                    style="line-height: 2;">
                    En simples pasos, configure y permita a sus clientes
                    autogestionar su turno, para luego visualizarlo mientras
                    disfruta del entretenimiento y las noticias que le
                    proporcione
                  </p>
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
        </div>
      </div>

      <!--Tipos de Turnos-->
      <div class="flex-column text-center">
        <div>
          <h2 class="text-white font-bold text-4xl m-12">Tipos de turnos</h2>
        </div>
        <div class="flex flex-col justify-center items-center">
          <div style="max-width: 1600px;">
            <div class="grid md:grid-cols-3">
              <div
                class="flex flex-col justify-center items-center mx-automd:col-span-1 mx-auto">
                <img
                  src="../../src/assets/sector-TiposTurnos/captarmedia-tiposdeturno-10.png"
                  alt="captar_media_logo6"
                  class="h-56"
                />
                <p class="text-white text-xl font-thin" style="line-height: 2;">
                  Se genera un número de atención aleotorio<br />
                  para ser atendido en el primer box de<br />
                  atención que se encuentre disponible
                </p>
              </div>
              <div
                class="flex flex-col justify-center items-center mx-automd:col-span-1 mx-auto">
                <img
                  src="../../src/assets/sector-TiposTurnos/captarmedia-tiposdeturno-11.png"
                  alt="captar_media_logo6"
                  class="h-56"
                />
                <p class="text-white text-xl font-thin" style="line-height: 2;">
                  Se genera un número de atención aleotorio<br />
                  para un sector específico, por ejemplo:<br />
                  servicio técnico, reclamos, cobranzas, etc)
                </p>
              </div>
              <div
                class="flex flex-col justify-center items-center mx-automd:col-span-1 mx-auto">
                <img
                  src="../../src/assets/sector-TiposTurnos/captarmedia-tiposdeturno-12.png"
                  alt="captar_media_logo6"
                  class="h-56"
                />
                <p class="text-white text-xl font-thin" style="line-height: 2;">
                  Se genera un número de atención específico<br />
                  para ser atendido por un persona en particular.<br />
                  Ej: ejecutivo de cuentas en un banco<br />
                </p>
              </div>
              <br />
              <br />
              <br />
              <br />
              <br />
            </div>
          </div>
        </div>
      </div>
      <!--Ventajas sistema-->
      <div class="flex bg-white flex-col justify-center items-center">
        <div style="max-width: 1600px;">
          <div class="grid md:grid-cols-2">
            <div
              class="flex flex-col justify-center items-center mx-automd:col-span-1 font-bold md:">
              <p class="text-gray-600 text-2xl mt-6 md:text-3xl md:mt-0">
                Ventajas de nuestro sistema
              </p>
            </div>

            <div
              class="flex flex-col justify-center mx-automd:col-span-1 mx-auto text-gray-600 md:mt-16">
              <div class="m-6">
                <div class="flex">
                  <span class="elementor-icon-list-icon">
                    <i
                      class="fa fa-check-circle-o text-red-500 font-bold text-3xl"
                      aria-hidden="true"></i>
                  </span>
                  <p class="text-xl m-1 ml-3">
                    Gestión clara en la atención de sus clientes
                  </p>
                </div>
                <br />
                <div class="flex">
                  <span class="elementor-icon-list-icon">
                    <i
                      class="fa fa-check-circle-o text-red-500 font-bold text-3xl"
                      aria-hidden="true"></i>
                  </span>
                  <p class="text-xl m-1 ml-3">
                    Menos tiempos de espera y menor pérdida de clientes
                  </p>
                </div>
                <br />
                <div class="flex">
                  <span class="elementor-icon-list-icon">
                    <i
                      class="fa fa-check-circle-o text-red-500 font-bold text-3xl"
                      aria-hidden="true"></i>
                  </span>
                  <p class="text-xl m-1 ml-3">
                    Mejora en la calidad de la espera, con contenido y <br
                    />entretenimiento a medida
                  </p>
                </div>
              </div>
              <br /><br />
            </div>
          </div>
        </div>
      </div>
      <!--footer invitacion-->
      <div class="relative">
        <div class="text-center text-4xl relative w-full z-10 bg-gray-100">
          <br />
          <br />
          <br />
          <h2 class="text-red-600 font-bold">
            Te invitamos a probar nuestro software ya
          </h2>
          <div class="button-container text-center">
            <button
              class="m-2 btn transform transition-transform hover:scale-110">
              <img
                src="../../src/assets/captarmedia-download-07-300x78.png"
                alt="Botón con imagen"
                class="btn-img"
              />
            </button>
          </div>
        </div>
        <div
          class="md:mt-0 relative bg-gradient-to-b from-gray-100 to-gray-100 py-12">
        </div>
      </div>
    </div>
  </main>
</Layout>
