<div class="flex justify-between">
  <div class="flex">
    <div class="m-12">
      <h1 class="text-9xl font-bold text-red-300">
        R<span class="text-6xl text-black">EGLAS</span>
      </h1>
      <div class="flex items-center ml-4">
        <p class="text-7xl font-extrabold text-red-300">P</p>
        <p class="text-3xl font-semibold">edir Garras 🐲</p>
      </div>
      <div class="flex items-center ml-8">
        <p class="text-7xl font-extrabold text-red-300">A</p>
        <p class="text-3xl font-semibold">tacar En GvsG ⚔️</p>
      </div>
      <div class="flex items-center ml-12">
        <p class="text-7xl font-extrabold text-red-300">D</p>
        <p class="text-3xl font-semibold">onar Oro Diario 💰</p>
      </div>
      <div class="flex items-center ml-16">
        <p class="text-7xl font-extrabold text-red-300">H</p>
        <p class="text-3xl font-semibold">acer Misiones Semanales 📋</p>
      </div>
    </div>
  </div>
  <div><img src="./../../../assets/abyssal-yufine.png"  class="border-b-2  border-black" alt="" /></div>
</div>
