<div class="flex justify-between bg-blue-900 border-b rounded-b-xl">
  <div class="flex m-3">
    <div class="mx-4 hover:cursor-pointer border-b">
      <a routerLink="/">
      <img src="./../../../assets/home.png" class="w-12" alt="" /></a>
    </div>
  </div>
  <div class="flex m-3">
    <div class="mx-10 hover:cursor-pointer border-r-2 border-r">
      <a routerLink="/reglas">
        <img src="./../../../assets/reglas.png" class="w-12" alt=""
      /></a>
    </div>
    <div class="mx-10 hover:cursor-pointer border-t-2 border-t">
      <a routerLink="/guerra">
      <img src="./../../../assets/guerra.png" class="w-12" alt="" /></a>
    </div>
    <div class="mx-10 hover:cursor-pointer border-l-2 border-l">
      <a routerLink="/beneficios">
      <img src="./../../../assets/beneficios.png" class="w-12" alt="" /></a>
    </div>
    <div class="mx-10 hover:cursor-pointer border-b-2 border-b">
      <a routerLink="/strikes">
      <img src="./../../../assets/strikes.png" class="w-12" alt="" /></a>
    </div>
    
  </div>
  <div class="flex m-3">
    <div class="mx-4 hover:cursor-pointer border-b">
      <a routerLink="/contacto">
      <img src="./../../../assets/contacto.png" class="w-12" alt="" /></a>
    </div>
  </div>
</div>
